{% import "macros/form.html" as form %}

<form id="user-register-form" class="form-horizontal" action="" method="post">
  {{ form.errors(error_summary) }}
  {{ form.input("name", id="field-username", label=_("Username"), placeholder=_("username"), value=data.name, error=errors.name, classes=["control-medium"]) }}
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"]) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"]) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1, classes=["control-medium"]) }}

  {# customized applied organization #}
  <div class="control-group control-medium">
    <label class="control-label" for="field-confirm-password">{{ h.getLangLabel("Applied Organization","申請加入組織") }}</label>
    <div class="controls ">
    <select id="field-organ" name="organ" class="control-medium">
      {% for org in h.get_featured_organizations(count=30) %}
        <option value="{{ org.name }}">{{ h.getLangLabel(org.etitle, org.title) }}</option>
      {% endfor %}
      <option value="other">{{ h.getLangLabel("Others", "其他") }}</option>
    </select>
    </div>
  </div>

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  <div class="form-actions">
    {% block form_actions %}
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
    {% endblock %}
  </div>
</form>
