{% set organization = organization %}
{% set members = members  %}

<h3 class="page-heading">{{ h.getLangLabel("Requested to join the organization","請求加入此組織帳號") }}</h3>
<table class="table table-header table-hover table-bordered">
  <col width="30" />
  <col width="30" />
  <col width="40" />
  <thead>
    <tr>
      <th scope="col">{{ h.getLangLabel("Name","帳號") }}</th>
      <th scope="col">{{ h.getLangLabel("Fullname","名稱") }}</th>
      <th scope="col">{{ h.getLangLabel("Email","電子郵件") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for name, fullname, email in h.getReq2OrgList(organization, c.members) %}
    <tr>
      <td> {{ name }} </td>
      {# prevent UTF8 coding issue, h.linked_user(name) must be used  #}
      <td class="media"> {{ h.linked_user(name, maxlength=20) }} </td>
      <td> {{ email }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
